/* @tailwind base;
@tailwind components;
@tailwind utilities;

.CustomTabs {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

.CustomTab {
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.CustomTab.active {
  font-weight: 600;
  color: #008080;
  border-bottom: 2px solid #008080;
} */


.scrollable-tabs {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

.scrollable-tabs .CustomTabs {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

.scrollable-tabs .CustomTab {
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scrollable-tabs .CustomTab.active {
  font-weight: 600;
  color: #008080;
  border-bottom: 2px solid #008080;
}
